body {
  font-family: 'Noto Sans', sans-serif;
  background-color: #333;
  color: #fff;
}
.container {
  width: 80%;
  margin: auto;
  border: 2px solid #2ecc71;
  border-radius: 25px;
  padding: 20px;
  background-color: #444;
}
.nav a {
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  border: 2px solid #2ecc71;
  border-radius: 25px;
  background-color: #333;
  transition: all 0.3s ease-in-out;
}
.nav a:hover {
  background-color: #2ecc71;
  color: #333;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.video-container {
  width: 80%;
  margin: 20px auto;
  border: 2px solid #2ecc71;
  border-radius: 25px;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
}
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

header {
  text-align: left;
}
.logo {
  height: 60px;
  width: 60px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.title {
  display: inline-block;
  font-size: 48px;
  line-height: 60px;
  vertical-align: middle;
}

div.footer {
  width: 80%;
  margin: auto;
  border: 2px solid #2ecc71;
  border-radius: 25px;
  padding: 20px;
  background-color: #444;
  display: flex;
  justify-content: center;
  align-items: center;
}

img.flash_info {
  display: flex;
  width: 128px;
  transition: 0.4s;
};

img.flash_info:hover {
  transition: 0.4s;
  width: 800px
};

p.flash_info {
  display: flex;
};

div.flash_info {
  justify-content:left;
  display: flex;
};

h1.maintenance {
  align-self: center
};